body {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
}

#BedButton, #BottleButton, #TVButton, #FanButton, #BananaButton {
    width: 500px;
    border-radius: 100px;
}